body{
    background-color:sandybrown;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

.animals {
   color: brown; 
   font-size: xx-large;
   border-color: black;
}

.ships{
    height: 70px;
}